:root {
    --dark: #202020;
    --dark-lite: #333333;
    --gray: #D9D9D9;
    --gray-dark: #8c8c8c;
    --red: #FF2600;
    --orange: #FF9500;
    --yellow: #FFE203;
    --white: #FFFFFF;
    --white-hover: #eeeeee;
}
