.contact-section {
    position: relative;
    margin-top: 700px;
  }
  
  .contact-image-container {
    position: absolute;
    bottom: 18rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -30;
  }
  
  .contact-image {
    width: 900px;
  }
  
  .contact-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5rem;
  }
  
  .contact-card {
    background-color: var(--white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding: 1.5rem;
  }
  
  .contact-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
  

  .contact-heading {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  
  .contact-description {
    color: var(--dark-lite);
    margin-bottom: 1rem;
  }
  
  .contact-details {
    margin-top: 1rem;
  }
  
  .contact-detail {
    color: var(--dark);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
  }
  
  .contact-icon {
    color: var(--orange);
    font-size: 1.25rem;
  }
  
  .contact-social-icons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .contact-social-link {
    color: var(--dark-lite);
    transition: color 0.3s ease;
  }
  
  .contact-social-link:hover {
    color: var(--orange);
  }
  
  .contact-form-group {
    margin-bottom: 1rem;
  }
  
  .contact-label {
    display: block;
    color: var(--dark);
    font-size: 0.875rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  
  .contact-input,
  .contact-textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--gray);
    border-radius: 0.375rem;
    color: var(--gray);
    font-size: 1rem;
    transition: box-shadow 0.3s ease;
  }
  
  .contact-input:focus,
  .contact-textarea:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(255, 153, 0, 0.5);
  }
  
  .contact-form-action {
    display: flex;
    justify-content: flex-end;
  }
  
  .contact-submit-button {
    background-color: var(--dark);
    color: var(--white);
    font-weight: 700;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-submit-button:hover {
    background-color: var(--dark);
  }
  