section{
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: cadetblue;
}

.navbar-upper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.search-bar {
    /* border: 1px solid red; */
    border-radius: 10px;
}

.search-bar input{
    border-radius: 5rem 0 0 5rem;
    width: 28rem;
    padding: 1rem;
    border: none;
}
.search-bar button{
    background-color: white;
    border: none;
    padding: 1rem;
    border-radius: 0 5rem 5rem 0;
}

.cart{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.cart-icon{

}

.cart-stat{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    /* border: 1px solid red; */
}

.cart-count{
    /* border: 1px solid red; */

}
.cart-name{
    /* border: 1px solid red; */

}